<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <div class="logo">mkuufunzi</div>
                <p>Your personal homework Einstein</p>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Partner with Us</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-social">
                <h4>Follow Us</h4>
                <div class="social-icons">
                    <a href="#" class="social-icon">
                        <img src="{{ '/assets/images/twitter-icon.svg' | relative_url }}" alt="Twitter">
                    </a>
                    <a href="#" class="social-icon">
                        <img src="{{ '/assets/images/instagram-icon.svg' | relative_url }}" alt="Instagram">
                    </a>
                    <a href="#" class="social-icon">
                        <img src="{{ '/assets/images/facebook-icon.svg' | relative_url }}" alt="Facebook">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 ZalendoAI. All rights reserved.</p>
        </div>
    </div>
</footer>
