<section class="testimonials">
    <div class="container">
        <h2 data-aos="fade-up">What Students Say</h2>
        <div class="testimonial-slider">
            <div class="testimonial-slide" data-aos="fade-up">
                <div class="testimonial-content">
                    <p>"mkuufunzi helped me improve my grades from C to A- in just one term. The explanations are so clear!"</p>
                    <div class="testimonial-author">
                        <img src="{{ '/assets/images/student1.jpg' | relative_url }}" alt="Student">
                        <div>
                            <h4>Jane Otieno</h4>
                            <p>Form 3 Student, Nairobi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-slide" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial-content">
                    <p>"The app explained calculus better than my lecturer. Now I actually understand what I'm doing!"</p>
                    <div class="testimonial-author">
                        <img src="{{ '/assets/images/student2.jpg' | relative_url }}" alt="Student">
                        <div>
                            <h4>Kevin Mwangi</h4>
                            <p>Engineering Student, UoN</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-dots">
            <span class="active"></span>
            <span></span>
        </div>
    </div>
</section>